초보자를 위한 파이썬 300제 학습 START!
================================

링크 : https://wikidocs.net/book/922

## 01. 파이썬 시작하기 001~010)

In [1]:
# 001
print('Hello World')

Hello World

In [2]:
# 002
print('Mary\'s cosmetics')

Mary's cosmetics

### 이스케이프 핵심 코드 정리

- \n:문자열 안에서 줄을 바꿀 때 사용
- \t:	|문자열 사이에 탭 간격을 줄 때 사용
- \\:	문자 \를 그대로 표현할 때 사용
- \':	|작은따옴표(')를 그대로 표현할 때 사용
- \":	큰따옴표(")를 그대로 표현할 때 사용

In [5]:
#003
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
#004
print('"C:\\Windows"')

"C:\Windows"

In [7]:
#005
print("안녕하세요.\n만나서\t\t반갑습니다.")

# \n 은 문장을 줄바꿈(Enter)을 하는 이스케이프 코드
# \t 는 들여쓰기(Tab)을 하는 이스케이프 코드

안녕하세요.
만나서		반갑습니다.

In [8]:
#006
print ("오늘은", "일요일")
# 오늘은 일요일 : 시이에 띄어쓰기

오늘은 일요일

In [13]:
#007
print('naver','kakao','sk','samsung', sep =',')

naver,kakao,sk,samsung

### print() 함수 정리

- print는 내장함수로 'sep', 'end', 'file' 을 지정인자로 가지고 있다.
    - 'sep'은 기본값이 "sep=''" 공백이고, 'end'는 "end = '\n'"으로 줄바꿈(개행)이다.
    - file'은 출력 결과를 파일, 표준에러처리로 보낼 수 있다.
    
- 다양한 이스케이프 코드를 이용해서 문장을 표현할 수 있다.(위에 참고)
    - ex) print('first \n second')
        - first
        - second
    - 그 외 \\, \',\",\t 등이 있다.
    
- '+', ',' 로 문자열(혹은 단어)을 합쳐서 출력할 수 있다.
    - '+'은 공백이 없지만, ','은 공백이 있다.
    
- 문자열이 길 경우 '\'이 하나를 이용해서 화면상으로만 개행해서 입력할 수 있다. (출력은 연결된 상태)
    - print('Hello world. I like python. 
        \ because python is simple')
        - 출력 : Hello world. I like python. because python is simple
- '''(혹은 """)으로 양쪽을 묶어서 줄바꿈(개행)을 표현할 수도 있다. (출력 시 줄바꿈도 같이 표현됨) 
    - print('''Hello world. I like python. 
        because python is simple''')
        - 출력 : Hello world. I like python.
            - because python is simple
            
- 또한 %와 format, 그리고 f스트링으로 소수점과 정렬 그리고 변수 등을 이용해서 출력할 수 있다.(차후에)

In [25]:
# 008
print('naver','kakao','sk','samsung', sep ='/')

naver/kakao/sk/samsung

In [26]:
# 009
print("first",end = ''); print("second")

firstsecond

In [27]:
# 010
print(5/3)

1.6666666666666667

## 파이썬 변수 (011~020)

In [28]:
# 011
samsung = 50000
print(samsung * 10)

500000

In [29]:
# 012
시가총액 = 298000000000000
현재가 = 50000
per = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [30]:
# 013
s = 'hello'
t = 'python'
print(s + '! '+t)

hello! python

In [31]:
# 014
print(2+2*3)

8

In [33]:
# 015
a = '132'
# a는 문자열(str)
print(a,type(a))

132 <class 'str'>

In [34]:
# 016
num_str = '720'
num_int = int(num_str)
print(num_str, type(num_str))
print(num_int, type(num_int))

720 <class 'str'>
720 <class 'int'>

In [35]:
# 017
num = 100
num_str = str(100)

print(num, type(num))
print(num_str,type(num_str))

100 <class 'int'>
100 <class 'str'>

In [37]:
#018
num_str = '15.79'
num_float = float(num_str)
print(num_str,type(num_str))
print(num_float, type(num_float))

15.79 <class 'str'>
15.79 <class 'float'>

In [40]:
#019
year = '2020'
year = int(year)
print(year, year+1,year+2)

2020 2021 2022

In [41]:
#020
m_cost = 48584
m = 36
total_cost = m * m_cost
print(total_cost)

1749024

## 파이썬 문자열 (021~050)

In [43]:
# 021
letters = 'python'
print(letters[0],letters[2])

p t

In [46]:
# 022
license_plate = "24가 2210"
print(license_plate[4:])
print(license_plate[-4:])

2210
2210

In [45]:
#023
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [48]:
#024
string = "PYTHON"
print(string[::-1])

NOHTYP

In [50]:
#025
phone_number = "010-1111-2222"
new_phone_number = phone_number.replace('-',' ')
print(new_phone_number)

010 1111 2222

In [51]:
#026
phone_number_new = phone_number.replace('-','')
print(phone_number_new)

01011112222

In [54]:
# 027
url = "http://sharebook.kr"
print(url[-2:])

# 풀이는 split을 요구함
url_split = url.split('.')
print(url_split[-1])

kr
kr

In [56]:
#028
lang = 'python'
lang[0] = 'P'
print(lang)

# str은 immutalbe 이다. 바꿀 수 없다.

TypeError: 'str' object does not support item assignment

In [58]:
#029
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [60]:
#030
string = 'abcd'
string.replace('b', 'B')
print(string)
# str은 immutalbe 이다. 바꿀 수 없다.
# 029처럼 다시 변수를 선언해야한다.

abcd

In [62]:
#031
a = "3"
b = "4"
print(a + b)

#'34' 라고 출력된다. 그리고 print() 할 때는 새로운 문자열이 생성되고 그 값을 출력하는 것.

34

In [63]:
#032
print("Hi" * 3)

HiHiHi

In [64]:
#033
print('-'*80)

--------------------------------------------------------------------------------

In [66]:
#034
t1 = 'python'
t2 = 'java'
print((t1+' '+t2 + ' ') *4)

python java python java python java python java

In [72]:
#035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# % formatting
print('이름: %s 나이: %d'% (name1,age1))
print('이름: %s 나이: %d'% (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [73]:
#036
# format 함수
print('이름: {0} 나이: {1}'.format(name1,age1))
print('이름: {0} 나이: {1}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [74]:
#037
#f f문자열
print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [77]:
#038
상장주식수 = "5,969,782,550"
상장주식수_int = int(상장주식수.replace(',',''))
print(상장주식수_int,type(상장주식수_int))

5969782550 <class 'int'>

In [80]:
#039
분기 = "2020/03(E) (IFRS연결)"
new_분기 = 분기.split('(')
print(new_분기[0])

2020/03

In [81]:
#040
data = "   삼성전자    "
print(data.strip())

삼성전자

In [82]:
#041
ticker = "btc_krw"
TICKER = ticker.upper()
print(TICKER)

BTC_KRW

In [83]:
#042
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [90]:
#043
print('hello'.capitalize())

Hello

In [91]:
#044
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

In [92]:
#045
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'or 'xls'))

True

In [93]:
# 046
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

In [94]:
#047
a = "hello world"
print(a.split(' '))

['hello', 'world']

In [105]:
#048
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [116]:
#049
date = "2020-05-01"
date_lst = date.split('-')
print('year:{0} month:{1} day:{2}'.format(date_lst[0],date_lst[1],date_lst[2]))

year:2020 month:05 day:01

In [117]:
#050
data = "039490     "
print(data.rstrip())

039490

## 파이썬 리스트 (051~070)

In [118]:
#051
movie_rank = ['닥터 스트레인지','스플릿','럭키']
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [119]:
#052
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [121]:
#053
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [124]:
#054
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [129]:
#055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

# del 을 이용해서 직접적으로 삭제 가능하다
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']
['닥터 스트레인지', '슈퍼맨']

In [137]:
#056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [139]:
#057
nums = [1, 2, 3, 4, 5, 6, 7]

print('max: ',max(nums))
print('max: ',min(nums))

max:  7
max:  1

In [140]:
#058
nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [141]:
#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [142]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [151]:
#061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price_lst = [p for p in price if isinstance(p,int)]
print(price_lst)

[100, 130, 140, 150, 160, 170]

In [152]:
#062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [153]:
#063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [154]:
#064
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [155]:
#065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [156]:
#066
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [157]:
#067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [158]:
#068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [160]:
#069
string = "삼성전자/LG전자/Naver"
string_lst = string.split('/')
print(string_lst)

['삼성전자', 'LG전자', 'Naver']

In [166]:
#070

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)
data.sort(reverse = True)
ascend = sorted(data)
descend = sorted(data,reverse=True)

print(data)
print(ascend)
print(descend)

[1, 2, 3, 4, 5, 9, 10]
[10, 9, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 9, 10]
[10, 9, 5, 4, 3, 2, 1]

## 파이썬 튜플 (071~080)

- 빈 튜플은 "변수 = ()" 로 만들면 된다.
- 그러나 튜플에 변수가 단 하나만 있다면 그건 튜플이 아니다.int, float, str, boolen 등
- 그래서 튜플에 하나의 변수만을 저장하려면 "변수 = (1,)" 처럼 ',' 를 마지막에 추가해라.

In [176]:
#071
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [177]:
#072
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')
print(movie_rank,type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [178]:
#073
number1 = (1,)
print(number1,type(number1))

(1,) <class 'tuple'>

In [180]:
#074
t = (1, 2, 3)
t[0] = 'a'

# 튜플의 원소는 변경이 불가능하다. 재선언을 해야한다.

TypeError: 'tuple' object does not support item assignment

In [181]:
#075
t = 1, 2, 3, 4
print(t, type(t))

# 괄호가 없어도 편의로 튜플 형식이 주어진다.

(1, 2, 3, 4) <class 'tuple'>

In [183]:
#076
t = ('a', 'b', 'c')
print(t)
# 변경 불가능, 재선언해야한다.
t = ('A', 'b', 'c')
print(t)

('a', 'b', 'c')
('A', 'b', 'c')

In [185]:
#077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest))

['삼성전자', 'LG전자', 'SK Hynix']

In [187]:
#078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [189]:
#079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# 차례대로 변수가 들어간다.

apple banana cake

In [195]:
#080
data = tuple(range(2,99,2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## 파이썬 딕셔너리 (081~100)

In [198]:
#081
a, b, *c = (0, 1, 2, 3, 4, 5)
print(c)

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*x,y,z = scores
print(x)

[2, 3, 4, 5]
[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [199]:
#082
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
x,y,*z = scores
print(z)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [200]:
#083
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
x,*y,z = scores
print(y)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [202]:
#084
temp = {}
print(temp,type(temp))

{} <class 'dict'>

In [203]:
#085
dic = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(dic)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [205]:
#086
dic['죠스바'] = 1200
dic['월드콘'] = 1500
print(dic)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [209]:
#087
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나의 가격:',ice.get('메로나'))

메로나의 가격: 1000

In [210]:
#088
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [211]:
#089
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# key 값에 대응하는 value 값이 없어서다. 만약 오류가 싫다면, get 메소드를 활용하자.

KeyError: '누가바'

In [213]:
#091
icecream = {'메로나':[300,20],'비비빅':[400,3],'죠스바':[250,100] }
print(icecream)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [217]:
#092
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory.get('메로나')[0] , '원')

300 원

In [219]:
#093
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory.get('메로나')[1] , '개')

20 개

In [220]:
#094
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [222]:
#095
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice_keys = list(icecream.keys())
print(ice_keys)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [226]:
#096
ice_values = list(icecream.values())
print(ice_values)

[1200, 1200, 1800, 1500, 1000]

In [225]:
#097
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
total = sum(icecream.values())
print(total)

6700

In [228]:
#098
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [231]:
#099
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result =dict(zip(keys,vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [233]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date,close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

## 파이썬 분기문 (101~130)

In [234]:
#101
print('bool 타입')
#True : 값이 있는 대부분 변수 , 1, " "(str 공백)
#False : 0 ,{}.[],(),''.""
print(bool(" "))

bool 타입
True

In [235]:
#102
print(3 == 5)
#False

False

In [236]:
#103
print(3 < 5)
#True

True

In [237]:
#104
x = 4
print(1 < x < 5)
# True

True

In [238]:
#105
print ((3 == 3) and (4 != 3))
# True

True

In [239]:
#106
print(3 => 4)
# 부등호 '>'는 '=' 보다 먼저(좌측에) 써야한다 >=

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (919391875.py, line 2)

In [240]:
#107
if 4 < 3:
    print("Hello World")
    
# 아무것도 출력되지 않는다.

In [241]:
#108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# 'Hi, there.' 가 출력된다.

Hi, there.

In [243]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
# 1\n2\n4

1
2
4

In [244]:
#110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
#3\n5

3
5

In [245]:
#111
x = input()
print(x*2)

안녕하세요
안녕하세요안녕하세요

In [247]:
#112
x = int(input('숫자를 입력하세요:'))
print(x + 10)

숫자를 입력하세요:30
40

In [250]:
#113
q = int(input())
a = '짝수' if q %2 == 0 else '홀수'
print(a)

30
짝수

In [252]:
#114
q = int(input('입력값:'))
a = 255 if q+20>255 else q + 20
print('출력값',a)

입력값:220
출력값 240

In [254]:
#115
q = int(input('입력값:'))
if 255> q-20 >0:
    a = q-20
elif 0 >= q-20:
    a = 0
else:
    a = 255
    
print('출력값',a)

입력값:15
출력값 0

In [257]:
#116
q = input('현재시간:')
a = '입니다'if q[-2:]=='00'else '아닙니다.'
print('정각',a)

현재시간:13:00
정각 입니다

In [259]:
#117
fruit = ["사과", "포도", "홍시"]
q = input('좋아하는 과일은?')
a = '정답입니다.' if q in fruit else '오답입니다.'
print(a)

좋아하는 과일은?사과
정답입니다.

In [262]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
q = input('종목을 입력하시오.')
a = '투자 경고 종목입니다' if q in warn_investment_list else "투자 경고 종목이 아닙니다."
print(a)

종목을 입력하시오.kakao
투자 경고 종목이 아닙니다.

In [264]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
q = input('제가좋아하는계절은')
a = '정답입니다.' if q in fruit else '오답입니다.'
print(a)

제가좋아하는계절은토마토
오답입니다.

In [266]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
q = input('제가좋아하는과일은')
a = '정답입니다.' if q in fruit.values() else '오답입니다.'
print(a)

제가좋아하는과일은토마토
정답입니다.

In [269]:
#121
q = input()
a = q.lower() if q == q.upper() else q.upper()
print(a)

A
a

In [275]:
#122
q = int(input('score:' ))

if 0 > q:
    print('grade is F')
elif 21 > q:
    print('grade is E')
elif 41 > q:
    print('grade is D')
elif 61 > q:
    print('grade is C')
elif 81 > q:
    print('grade is B')
elif 100 > q:
     print('grade is A')
else:
     print('입력값을 확인하십시오')

score:111
입력값을 확인하십시오

In [279]:
#123-1
q = input('엽력:')

if q[-2:] =='달러':
    a = float(q[:-2])*1167
    print(a,'원')
elif q[-1:] =='엔':
    a = float(q[:-1])*1.096
    print(a,'원')
elif q[-2:] =='유로':
    a = float(q[:-2])*1268
    print(a,'위안')
elif q[-2:] =='달러':
    a = float(q[:-2])*171
    print(a,'원')
else:
    print('지원하지 않는 통화입니다.')

엽력:123421엔
135269.416 원

In [280]:
#123-2
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")
# 이 풀이는 공백이 있어야지 작동한다.하지만 이게 더 효율적이기는 할듯

입력: 123엔

ValueError: not enough values to unpack (expected 2, got 1)

In [282]:
#124
q1 = int(input('number1:'))
q2 = int(input('number2:'))
q3 = int(input('number3:'))

print(max(q1,q2,q3))

number1:10
number2:9
number3:20
20

In [4]:
#125
q = input('휴대전화 번호 입력:')
dic = { '011':'SKT', '016':'KT','019':'LGU','010':'알수없음'}
num = q[:3]
print(num)
a = dic.get(num)
print(f'당신은 {a} 사용자입니다.')

휴대전화 번호 입력:011-4567-4789
011
당신은 SKT 사용자입니다.

In [6]:
#126
cord = input('우편번호:')

if cord[2] in '012':
    print('강북구')
    
elif cord[2] in '345':
    print('도봉구')
    
elif cord[2] in '6789':
    print('노원구')
else:
    print('우편번호를 확인해주세요.')

우편번호:01400
도봉구

In [8]:
#127
q = input('주민등록번호:')
num = q.split('-')[1]
a = '남자' if num in '13' else '여자'
print(a)

주민등록번호:220202-3579123
여자

In [12]:
#128
q = input('주민등록번호:')
num = q[8:10]
seoul = ['00','01','02','03','04','05','06','07','08']
a = '서울 입니다.' if num in seoul else '서울이 아닙니다.'
print(a)

주민등록번호:861010-1015210
서울 입니다.

In [29]:
q = input('주민등록번호:')
num=q.replace('-','')
test_cord = '2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5'
cord= test_cord.replace(',','').replace(' ','')
# 값의 합을 구한다.
cord_sum = sum([int(num[i])*int(cord[i]) for i in range(12)])

answer1 = cord_sum % 11
answer2 = 11 - answer1

print('유효한 주민등록번호입니다.' if answer2 == num[-1] else '유효하지 않은 주민등록번호입니다. ')

주민등록번호:821010-1635210
유효하지 않은 주민등록번호입니다.

In [32]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']


시가 = float(btc.get('opening_price'))
최고가 = float(btc.get('max_price'))
변동폭 = 최고가- float(btc.get('min_price'))

print('상승장'if 시가 + 변동폭 > 최고가 else '하락장')

상승장

## 파이썬 반복문 (131~200)

In [34]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 사과 \n 귤 \n 수박 \n

사과
귤
수박

In [35]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")
# ##### \m ##### \m #####

#####
#####
#####

In [36]:
# 133
for 변수 in ["A", "B", "C"]:
    print(변수)

print('A \nB \nC')

A
B
C
A
B
C

In [38]:
#134
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)
    
print('출력: A\n출력: B \n출력: C')

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [43]:
#135
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)
print("변환:", 'A'.lower(),"\n변환:", 'B'.lower(),"\n변환:", 'C'.lower())

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [44]:
#136
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for 변수 in (10,20,30):
    print(변수)

10
20
30
10
20
30

In [46]:
#137
print(10)
print(20)
print(30)
for 변수 in [10,20,30]:
    print(변수)

10
20
30
10
20
30

In [47]:
#138
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for 변수 in (10,20,30):
    print(변수)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [48]:
#139
print("++++")
print(10)
print(20)
print(30)

for _ in {"++++",10,20,30}:
    print(_)

++++
10
20
30
++++
10
20
30

In [49]:
#140
print("-------")
print("-------")
print("-------")
print("-------")

for _ in range(4):
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

In [53]:
#141
리스트 = [100, 200, 300]
for i in 리스트:
    print(i + 10)

110
210
310

In [55]:
#142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print(f'오늘의 메뉴: {i}')

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [56]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [57]:
#144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [58]:
리스트 = [1, 2, 3]
for i in 리스트:
    print('3 x',i)

3 x 1
3 x 2
3 x 3

In [59]:
#147
리스트 = [1, 2, 3]
for i in 리스트:
    print('3 x',i,'=',i*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [60]:
#148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [61]:
#149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [62]:
#150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [65]:
#151
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if int(i) > 0:
        pass
    else:
        print(i)

-20
-3

In [66]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)
    else:
        pass

3

In [67]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if (i % 3 == 0) and (20> i):
        print(i)
    else:
        pass

12
18

In [68]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i)>=3:
        print(i)
    else:
        pass

study
python
language

In [75]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        pass
    else:
        print(i)

A
D

In [76]:
#156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)
    else:
        pass

b
c

In [77]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.title())

Dog
Cat
Parrot

In [79]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    lst = i.split('.')
    print(lst[0])

hello
ex01
intro

In [80]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    lst = i.split('.')
    if lst[1] == 'h':
        print(i)

intra.h
define.h

In [81]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    lst = i.split('.')
    if (lst[1] == 'h') or (lst[1] == 'c'):
        print(i)

intra.h
intra.c
define.h

In [83]:
#161
for i in range(100):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [84]:
#162
for i in range(2002,2051,4):
    print(i, end=" ")

2002 2006 2010 2014 2018 2022 2026 2030 2034 2038 2042 2046 2050

In [85]:
#163
for i in range(3, 31, 3):
    print(i, end=" ")

3 6 9 12 15 18 21 24 27 30

In [89]:
#164
for i in range(100):
    print(99-i,end=" ")
# 스크롤 낭비로 'end= ' ' 로 처리한다.

99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0

In [92]:
#165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [96]:
#166
for i in range(1,10):
    print(f'3x{i} =',i*3)

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [98]:
#167
for i in range(1,10,2):
    print(f'3x{i} =',i*3)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [102]:
#168
total = 0
for i in range(11):
    total += i
print('합 :',total)

합 : 55

In [103]:
#169
total = 0
for i in range(1,11,2):
    total += i
print('합 :',total)

합 : 25

In [105]:
#170
m = 1
for i in range(1,11):
    m*=i
print(m)

3628800

In [106]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [109]:
#172
price_list = [32100, 32150, 32000, 32500]
for i,j in enumerate(price_list):    
    print(i,j)
#enumerate 를 연습하고 싶어서 사용했다.

0 32100
1 32150
2 32000
3 32500

In [111]:
#173
price_list = [32100, 32150, 32000, 32500]
for i,j in enumerate(price_list):    
    print(len(price_list)-i-1,j)

3 32100
2 32150
1 32000
0 32500

In [114]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,len(price_list)):
    print(90+(i*10),price_list[i])

100 32150
110 32000
120 32500

In [115]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [116]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [118]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[-i-1],my_list[-i-2])

라 다
다 나
나 가

In [122]:
#178
my_list = [100, 200, 400, 800]
cnt = 0
while cnt < len(my_list)-1:
    print(my_list[cnt+1]-my_list[cnt])
    cnt +=1

100
200
400

In [124]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
cnt = 0
while cnt < len(my_list)-2:
    print((my_list[cnt+2]+my_list[cnt+1]+my_list[cnt])/3)
    cnt +=1

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [125]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility =[high_prices[i]-low_prices[i] for i in range(len(low_prices))]
print(volatility )

[50, 100, 30, 80, 0]