In [ ]:
## 파이썬 반복문 (181~200)
하.... 집에서 180문제까지 풀었는데, 깜빡하고 commit을 안했다.
그냥 이어서 181문제가지 푼다.
(commit의 중요성을 배웠다.)

In [1]:
#181
apart = [ ['101호','102호'],['201호','202호'],['301호','302'] ]

In [1]:
#182
stock = [ ['시가',100,200,300],['종가',80,210,330] ]

In [2]:
#183
stock ={'시가':[100,200,300],'종가':[80,210,330]}

In [3]:
#184
stock = {'10.10':[80,110,70,90],'10/11':[210,230,190,200]}

In [5]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [7]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(j,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [8]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [10]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [11]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [12]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [13]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
rate = 0.00014
for i in data:
    for j in i:
        print(j + (j*rate))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [14]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
rate = 0.00014
for i in data:
    for j in i:
        print(j + (j*rate))
    print('----')

2000.28
3050.427
2050.287
1980.2772
----
7501.05
2050.287
2050.287
1980.2772
----
15452.163
15052.107
15552.177
14902.086
----

In [15]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
rate = 0.00014
result = []
for i in data:
    for j in i:
        result.append(j + (j*rate))
print(result)

[2000.28, 3050.427, 2050.287, 1980.2772, 7501.05, 2050.287, 2050.287, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086]

In [16]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
rate = 0.00014
result = []
k = []
for i in data:
    for j in i:
        k.append(j + (j*rate))
    result.append(k)
    k = []
print(result)

[[2000.28, 3050.427, 2050.287, 1980.2772], [7501.05, 2050.287, 2050.287, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086]]

In [18]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,len(ohlc)):
    print(ohlc[i][-1])

100
190
310

In [19]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(1,len(ohlc)):
    if ohlc[i][-1] > 150:
        print(ohlc[i][-1])

190
310

In [20]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(1,len(ohlc)):
    if ohlc[i][-1] >= ohlc[i][0]:
        print(ohlc[i][-1])

100
310

In [21]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in ohlc[1:]:
    volatility.append(abs(i[1]-i[2]))
print(volatility)

[40, 30, 10]

In [23]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3]>i[0]:
        print(abs(i[1]-i[2]))

10

In [25]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
stock_sum = 0
for i in ohlc[1:]:
    sum += (i[3]-i[1])
print(stock_sum)

0

## 파이썬 함수 (201~240)

In [1]:
# 201
def print_coin():
    print('비트코인')
    
print_coin()

비트코인

In [2]:
# 202
print_coin()

비트코인

In [5]:
#203
print_coin()
t=0
while t < 100:
    print_coin()
    t += 1
print(t)

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
100

In [6]:
#204
def print_coin():
    t=0
    while t < 100:
        print('비트코인')
        t += 1

In [7]:
#205
hello()
def hello():
    print("Hi")
    
#함수가 정의되기 전에 호출되어서 그렇다.

NameError: name 'hello' is not defined

In [8]:
#206
def message() :
    print("A")
    print("B")

message()
print("C")
message()

# A
# B
# C
# A
# B

A
B
C
A
B

In [9]:
#207
print("A")

def message() :
    print("B")

print("C")
message()

# A
# C
# B

A
C
B

In [10]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

# A
# C
# B
# E
# D

A
C
B
E
D

In [11]:
#209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

# B
# A

B
A

In [12]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

# B
# C
# B
# C
# B
# C
# A

B
C
B
C
B
C
A

In [13]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

#안녕
#HI

안녕
Hi

In [14]:
# 212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

# 7
# 15

7
15

In [16]:
# 213
def 함수(문자열) :
    print(문자열)

In [17]:
함수()
# argument(파라미터)를 입력하지 않았다.

TypeError: 함수() missing 1 required positional argument: '문자열'

In [18]:
#214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# 타입에러 안녕과 3은 더 할 수 없다.

TypeError: can only concatenate str (not "int") to str

In [20]:
#215
def print_with_smile(any_str):
    print(str(any_str) , ':D')
    
print_with_smile('go')

go :D

In [21]:
#216

print_with_smile('안녕하세요.')

안녕하세요. :D

In [22]:
#217
def print_upper_price(recent_price):
    print(int(resent_price) * 1.3)
    
print_upper_price(100)

130.0

In [24]:
#218
def print_sum(x,y):
    print(x + y)
    
print_sum(30,30)

60

In [27]:
#219
def print_arithmetic_operation(x,y):
    print(f'{x} + {y} =',x+y)
    print(f'{x} - {y} =',x-y)
    print(f'{x} * {y} =',x*y)
    print(f'{x} / {y} =',x/y)
    
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [28]:
#220
def print_max(x,y,z):
    if x > y and x > z:
        print(x)
    elif y > x and y > z:
        print(y)
    else:
        print(z)
        
print_max(1,2,3)

3

In [29]:
#221
def print_reverse(s):
    print(s[::-1])
    
print_reverse('python')

nohtyp

In [30]:
#222
def print_score(lst):
    print(sum(lst)/len(lst))


print_score([1,2,3])

2.0

In [31]:
#223
def print_even(lst):
    for i in lst:
        if i % 2:
            pass
        else:
            print(i)
            
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [36]:
#224
def print_keys(dic):
    for i in dic:
        print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

dict_keys(['이름', '나이', '성별'])
이름
나이
성별

In [38]:
#225
def print_value_by_key(dic,ky):
    print(dic.get(ky))

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

print_value_by_key(my_dict, '10/26')

[100, 130, 100, 100]

In [43]:
#226
def print_5xn(string):
    cnt = 1
    for i in string:
        if cnt == 5:
            print(i)
            cnt = 1
        else:
            print(i,end='')
            cnt += 1
            
print_5xn('아이엠어보이유알어걸')

아이엠어보
이유알어걸

In [52]:
#227
def printmxn(string,num):
    n = len(string)//num
    for i in range(n+1):
        print(string[i*num:(i*num)+num])

    
printmxn('123123',3)

123
123

In [53]:
#228
def  calc_monthly_salary(annual_salary):
    print(int(annual_salary/12))
    
calc_monthly_salary(120000)

10000

In [54]:
#229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

# 왼쪽: 100
# 오른쪽: 200

왼쪽: 100
오른쪽: 200

In [55]:
#230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

# 왼쪽: 200
# 오른쪽: 100

왼쪽: 200
오른쪽: 100

In [56]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

# NameError

NameError: name 'result' is not defined

In [58]:
#232
def make_url(string):
    return 'www.'+string+'.com'

print(make_url('naver'))

www.naver.com

In [59]:
#233
def make_list(string):
    lst = [i for i in string]
    return lst

make_list("abcd")
print(make_list("abcd"))

['a', 'b', 'c', 'd']

In [60]:
# 234
def pickup_even(lst):
    return [i for i in lst if int(i) % 2 == 0]
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [67]:
# 235
def convert_int(str_num):
    result = int(str_num.replace(',',''))
    return result
convert_int("1,234,567")

1234567

In [68]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

# 22

22

In [69]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

#22

22

In [70]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

#140

140

In [72]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
#16

16

In [73]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

#28

28